/* *{
    padding: 0;
    margin: 0;
} */

@font-face{
    font-family: "Libre Baskerville";
    src: url(../fonts/LibreBaskerville-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Libre Baskerville";
    src: url(../fonts/LibreBaskerville-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: "Libre Baskerville";
    src: url(../fonts/LibreBaskerville-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: "League Spartan";
    src: url(../fonts/LeagueSpartan-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

html{
    font-family: 'Libre Baskerville', serif;
    font-size:  60%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.767), rgba(236, 213, 221, 0.795)), url(../img/flowers.jpg);
    background-size: cover;
}

.main h1{
    font-family: 'League Spartan', sans-serif;
    color: black;
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
}

.main h2{
    color: brown;
    border-bottom: 3px solid black;
    margin-top: 25px;
    text-align: center;
}

.main h2{
    font-size: 3.0em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
}

.main h3{
    font-family: 'League Spartan', sans-serif;
    text-align: left;
    margin-top: 50px;
    color: brown;
    font-size: 2em;
    text-transform: uppercase;
    text-indent: 55px;
}

.main p{
    font-size: 1.8em;
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.main p::first-line {
    font-weight: bold;
    color: black;
}

.main p::first-letter{
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 2px;
    font-size: 2em;
}

.main ul{
    margin: 50px 0 25px 0;
    width: 25%;  
    float: right;   
}

.main li{
    list-style-type: disc;
    color: black;
    font-size: 1.8em;
    margin-bottom: 7px;
}